body {
  margin: 0px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover {
  mouse: pointer;
}

#main {
  width: 100%;
  height: 800px;
  background-color: black;
  display: flex;
}

.filler {
  width: inherit;
  height: inherit;
  flex: 120%;
}

.opcionescompra {
  background-color: green;
  width: inherit;
  height: inherit;
}

.titulo {
  background-color: blue;
  width: 100%;
  height: 120px;
  margin-top: 50%;
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 12px;
  color: lightgrey;
}

h1 {
  margin-top: -5px;
}

.botones {
  background-color: red;
  width: 100%;
  height: calc(100% - 402px);
}

.contenedor1 {
  width: 100%;
  height: 25%;
  position: relative;
}

button {
  width: 50%;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  color: white;
  display: block;
  border: solid white 1px;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}