body {
  margin: 0px;
  color: white;
  background-color: black;
  --sb-track-color: #2d2f2f;
  --sb-thumb-color: #868686;
  --sb-size: 5px;
  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Header*/

.header {
  background-color: black; 
  width:100%; 
  height:100px;
  position: fixed;
  z-index: 1;
}

.nav {
  width:20%; 
  height:100px;
  float:left; 
}

#menu-boton {
  width: 3%;
  height: 50%;
  background-color: #1c1c20;
  color: #e0eef1;
  margin-top: 25px;
  padding: 12px 11px;
  font-size: 10px;
  margin-left: -631px;
  border: 1px solid gray;
  cursor: pointer;
  transition-duration: 500ms;
}

#menu-lista {
  position: absolute;
  background-color: black;
  height: 200px;
  padding: 22px 22px;
  width: 300px;
  border: 1px solid gray;
  margin-left: 300px;
  margin-top: 100px;
}

.menu li {
  padding: 10px 100px;
  text-align:left;
  padding-left: 0px;
  list-style: none;
}

.a1 {
  color: white;
  text-align:left;
  font-weight: bold;
}

.menu li:hover {
  background-color: black;
}

.inicio{
  width:60%;
  height:100px; 
  float:left; 
}

#home{
  width: 270px;
  height: 100px;
  background-color: black;
  cursor: pointer;
  border: none;
 }

.comprar {
  width:20%; 
  height:100px;
  float:left; 
}

#buy {
  width: 6%;
  height: 50%;
  margin-left: 631px;
  background-color: #1c1c20;
  color: #e0eef1;
  margin-top: 25px;
  padding: 10px 12px;
  font-size: 10px;
  border: 1px solid gray;
  cursor: pointer;
}

#menu-boton:hover {
  background-color: rgba(255, 248, 144, 0.3);
  border-color: rgba(255, 248, 144, 0.3);
}

#buy:hover {
  background-color: rgba(255, 248, 144, 0.3);
  border-color: rgba(255, 248, 144, 0.3);
}

/*Sección de compra*/

button:hover {
  cursor: pointer;
  background-color: rgba(255, 248, 144, 0.3);
  border-color: rgba(255, 248, 144, 0.3);
}

#main {
  width: 100%;
  height: 800px;
  display: flex;
}

.filler {
  width: inherit;
  height: inherit;
  flex: 120%;
}

.opcionescompra {
  width: inherit;
  height: inherit;
}

.titulo {
  width: 100%;
  height: 120px;
  margin-top: 50%;
  text-align: center;
  font-size: 30px;
  z-index: 1;
}

p {
  font-size: 12px;
  color: lightgrey;
}

h1 {
  margin-top: -5px;
}

.botones {
  width: 100%;
  height: calc(100% - 402px);
}

.contenedor {
  width: 100%;
  height: 25%;
  position: relative;
}

.margen-contenedor{
    margin-top: 5%;
}

button {
  width: 50%;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 255, 255, 0.2);
  display: block;
  border: solid lightgrey 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 500ms;
}

.nodisponible {
  width: 50%;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  border: solid grey 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 500ms;
}

#epictext {
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-left: 40px;
}

#epic {
  transform: scale(0.18);
  position: relative;
  bottom: 425px;
  left: 100px;
}

#playtext {
  font-size: 22px;
  color: white;
  margin-left: 100px;
}

#play {
  transform: scale(0.25);
  position: relative;
  bottom: 358px;
  right: 105px;
}

#xboxtext {
  font-size: 20px;
  color: white;
  margin-left: 80px;
}

#xbox {
  transform: scale(0.15);
  position: relative;
  bottom: 425px;
  left: 80px;
}

.nodispgrey {
  text-align: center;
}

#fondocompra {
  width: 1366px;
  height: 768px;
  transform: scale(0.8);
  position: relative;
  bottom: 630px;
  left: 450px;
  z-index: -1;
  opacity: 0.7;
}

/*Sección de footer a copiar y pegar en todas las demás páginas (creo)*/

footer {
  width: 100%;
  height: 1220px;
  margin-top: -400px; /*borra esto si ropme cosas*/
}

.discord {
  background-image: url(./img/footerimg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
}

.boldgrey {
  text-align: center;
  color: lightgrey;
  font-size: 20px;
  font-weight: bold;
}

.unite {
  text-align: center;
  color: white;
  font-size: 60px;
}

.adventure {
  text-align: center;
  color: rgb(145, 145, 145);
  font-size: 18px;
}

.joindiv {
  width: 10%;
  height: 8%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.joinbutton {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.2);
  display: block;
  border: solid lightgrey 1px;
  transition-duration: 500ms;
}

#datcord {
  transform: scale(0.15);
  float: left;
  margin-top: -33%;
  margin-left: -50%;
}

#dosecords {
  float: left;
  font-size: 22px;
  margin-bottom: 10%;
  margin-left: 35%;
}

.publishers {
  width: 75%;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#moria {
  float: left;
  transform: scale(0.3);
  margin-top: -2%;
  margin-left: -18%;
}

#me {
  float: right;
  margin-top: 2%;
}

#free {
  float: right;
  margin-right: 2%;
  margin-top: 2%;
}

#north {
  float: right;
  margin-right: 2%;
  margin-top: 2%;
}

.enlaces {
  width: 75%;
  height: 320px;
  position: relative;
  left: 50%;
  top: 12%;
  transform: translateX(-50%);
}

.discover {
  float: left;
  width: 20%;
  height: 100%;
}

.headers {
  color: lightgrey;
  font-size: 18px;
  font-weight: bold;
}

.footerlinks {
  color: lightgrey;
  font-size: 15px;
  margin-top: 30px;
  transition-duration: 100ms;
}

.footlink1 {
  width: 103px;
}

.footlink2 {
  width: 68px;
}

.footlink3 {
  width: 10px;
}

.footerlinks:hover {
  color: white
}

.roundbtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.x {
  margin-left: -8%;
}

#x {
  margin-top: 5px;
  transform: scale(0.9);
}

.tik {
  margin-left: -4%;
}

#tik {
  margin-top: 4px;
}

#discordunavezmas {
  margin-top: 4px;
}

.youtube {
  margin-left: 4%;
}

#youtube {
  margin-top: 2px;
}

.overflow {
  width: 50px;
  height: 50px;
}

.registro {
  float: right;
  width: 32%;
  height: 100%;
}

#signup {
  margin-top: 0px;
}

input {
  width: 98%;
  height: 35px;
  color: white;
  background-color: inherit;
  border: 1px solid grey;
  outline: none;
  border-radius: 1px;
  transition: 200ms;
}

::placeholder {
  color: white;
  opacity: 1;
}

.invalid {
  border: 1px solid red;
}

.botonregistro {
  width: 99.5%;
  height: 40px;
  margin-top: 10px;
  background-color: rgba(34,34,38);
  border-color: grey;
  font-weight: bold;
  font-size: 14px;
  transition: none;
}

.botonregistro:hover {
  background-color: rgb(169, 169, 169);
  cursor: pointer;
}

.disclaimer {
  width: 75%;
  height: 18%;
  position: relative;
  left: 50%;
  margin-top: 10%;
  transform: translateX(-50%);
}

.cosaslegales {
  float: left;
  margin-right: 1%;
  font-size: medium;
}

.cosaslegales:hover {
  color: white;
  cursor: pointer;
}

#eula {
  float: left;
  margin-left: -30.2%;
  margin-top: 4%;
  font-size: 14px;
  line-height: 20px;
}

.rating {
  float: right;
  margin-top: 5%;
  margin-left: 1%;
}

/*Cookies*/

.cookie-container {
  position: fixed;
  bottom: 1px;
  right: 1px;
  width: 400px;
  height: 255px;
  background: #000;
  color: #fff;
  padding: 10px;
  display: none;
  border: 1px solid gray;
  border-radius: 4px;
  z-index: 1;
}

.cookie-txt {
  width: 100%;
  height: 160px;
  margin-left: 10px;
  float: left;
}

.cookie-button {
  float: left;
  margin-left: 10px;
}

.cookie-btn {
  background: #000;
  color: #fff;
  width: 150px;
  height: 50px;
  margin-top: 5%;
  margin-left: -25%;
  border: 1px solid lightgray;
  cursor: pointer;
  float: left;
  transition-duration: 500ms;
  font-size: 15px;
}

.close-btn {
  cursor: pointer;
  color: white;
  align-items: center;
}

.close-button {
  float: right;
}

.boton-close {
border-radius: 50%;
width: 9%;
height: 13.5%;
font-size: 14px;
margin-left: 42%;
background-color: #222326;
border: 1px solid lightgray;
}

.p-c {
color: #fff;
font-size: 14px;
font-weight: 300;
}

.p-d {
color: rgb(224, 238, 241);
font-size: 16px;
font-weight: 300;
line-height: 1.4;
}

.p-e {
color: rgba(224, 238, 241, .6);
}

.h2-b {
color: white;
font-size: 21px;
font-weight: 500;
line-height: 0.4;
margin-top: 12%;
}