body {
  margin: 0px
}

#main {
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
}

.filler {
  width: inherit;
  height: inherit;
  flex: 50%;
}

.opcionescompra {
  background-color: green;
  width: inherit;
  height: inherit;
}

.titulo {
  background-color: red;
  width: 100%;
  height: 80px;
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 22px;
}

p {
  font-size: 10px;
  color: lightgrey;
}

h1 {
  margin-top: -5px;
}

.botones {
  background-color: blue;
  width: 100%;
  height: calc(100% - 130px);
}

button {
  width: 50%;
  height: 20%;
  display: block;
  margin: 0 auto;
  border: solid white 1px;
  background-color: transparent;
}